<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="settingsAccount">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <ngb-tabset type="pills">
                <ngb-tab title="General Settings">
                    <ng-template ngbTabContent>
                        <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                            <div class="form-group">
                                <label class="form-control-label" for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name" [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                                <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.required">
                                        Your first name is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.minlength">
                                        Your first name is required to be at least 1 character.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength">
                                        Your first name cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name" [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                                <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.required">
                                        Your last name is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.minlength">
                                        Your last name is required to be at least 1 character.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength">
                                        Your last name cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your email" [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" email required>
                                <div *ngIf="emailInput.dirty && emailInput.invalid">
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                        Your email is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                                        Your email is invalid.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
                            <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Save</button>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Additional Settings">
                    <ng-template ngbTabContent>
                        <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                            <div class="form-group">
                                <label class="form-control-label" for="gender">Gender</label>
                                <select class="form-control" id="gender" name="gender" [(ngModel)]="settingsAccount.gender">
                                    <option [ngValue]="0">Unselected</option>
                                    <option [ngValue]="gender.id" *ngFor="let gender of genders;">{{gender.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="country">Country</label>
                                <select class="form-control" id="country" name="country" [(ngModel)]="settingsAccount.country">
                                    <option [ngValue]="0">Select country</option>
                                    <option [ngValue]="country.id" *ngFor="let country of countres;">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="birthDate">Birthday</label>
                                <div class="d-flex">
                                    <input id="birthDate" type="datetime-local" class="form-control" name="birthDate" [(ngModel)]="settingsAccount.birthDate"/>
                                </div>
                            </div>
                            <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Save</button>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>

</div>
