<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRolesLabel">Create or edit a Roles</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!roles.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="roles.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_roleName">Role Name</label>
            <input type="text" class="form-control" name="roleName" id="field_roleName"
                [(ngModel)]="roles.roleName" />
        </div>

        <div class="form-group">
            <label for="field_userToRole">User To Role</label>
            <select class="form-control" id="field_userToRole" multiple name="userToRole" [(ngModel)]="roles.userToRoles">
                <option [ngValue]="getSelected(roles.userToRoles, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
