
<div *ngIf="roles">
    <h2><span>Roles</span> {{roles.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Role Name</span></dt>
        <dd>
            <span>{{roles.roleName}}</span>
        </dd>
        <dt><span>User To Role</span></dt>
        <dd>
            <span *ngFor="let userToRole of roles.userToRoles; let last = last">
                {{userToRole.login}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'roles/'+ roles.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
