<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Create new Patient Using HL7 Standart</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>User was created!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" novalidate>
                <div class="form-group">
                    <label class="form-control-label" for="hl7Message">HL7 Creation message</label>
                    <textarea rows="5" cols="100" class="form-control" id="hl7Message" name="hl7Message" [(ngModel)]="hl7Message"  required>
                    </textarea>
                </div>

                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Create patient</button>
            </form>

        </div>
    </div>

</div>
