<div>
    <h2>
        <span>Resultrecemptions</span>
        <button class="btn btn-primary float-right jh-create-entity create-resultrecemption" [routerLink]="['/', { outlets: { popup: ['resultrecemption-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Resultrecemption
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="resultrecemptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Diagnosis</span></th>
            <th><span>Procedures</span></th>
            <th><span>Status</span></th>
            <th><span>Treatmentplan</span></th>
            <th><span>Resultcalendarreception</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resultrecemption of resultrecemptions ;trackBy: trackId">
                <td><a [routerLink]="['../resultrecemption', resultrecemption.id ]">{{resultrecemption.id}}</a></td>
                <td>{{resultrecemption.date | date:'medium'}}</td>
                <td>{{resultrecemption.diagnosis}}</td>
                <td>{{resultrecemption.procedures}}</td>
                <td>{{resultrecemption.status}}</td>
                <td>{{resultrecemption.treatmentplan}}</td>
                <td>
                    <div *ngIf="resultrecemption.resultcalendarreception">
                        <a [routerLink]="['../calendarrecption', resultrecemption.resultcalendarreception?.id ]" >{{resultrecemption.resultcalendarreception?.date}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let user of resultrecemption.users; let last = last">
                            {{user.login}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../resultrecemption', resultrecemption.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resultrecemption/'+ resultrecemption.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resultrecemption/'+ resultrecemption.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
