
<div *ngIf="resultrecemption">
    <h2><span>Resultrecemption</span> {{resultrecemption.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{resultrecemption.date | date:'medium'}}</span>
        </dd>
        <dt><span>Diagnosis</span></dt>
        <dd>
            <span>{{resultrecemption.diagnosis}}</span>
        </dd>
        <dt><span>Procedures</span></dt>
        <dd>
            <span>{{resultrecemption.procedures}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{resultrecemption.status}}</span>
        </dd>
        <dt><span>Treatmentplan</span></dt>
        <dd>
            <span>{{resultrecemption.treatmentplan}}</span>
        </dd>
        <dt><span>Resultcalendarreception</span></dt>
        <dd>
            <div *ngIf="resultrecemption.resultcalendarreception">
                <a [routerLink]="['/calendarrecption', resultrecemption.resultcalendarreception?.id]">{{resultrecemption.resultcalendarreception?.date}}</a>
            </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <span *ngFor="let user of resultrecemption.users; let last = last">
                {{user.login}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'resultrecemption/'+ resultrecemption.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
