<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myResultrecemptionLabel">Create or edit a Resultrecemption</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!resultrecemption.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="resultrecemption.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="resultrecemption.date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_diagnosis">Diagnosis</label>
            <input type="text" class="form-control" name="diagnosis" id="field_diagnosis"
                [(ngModel)]="resultrecemption.diagnosis" required/>
            <div [hidden]="!(editForm.controls.diagnosis?.dirty && editForm.controls.diagnosis?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.diagnosis?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_procedures">Procedures</label>
            <input type="text" class="form-control" name="procedures" id="field_procedures"
                [(ngModel)]="resultrecemption.procedures" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                [(ngModel)]="resultrecemption.status" required/>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.status?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_treatmentplan">Treatmentplan</label>
            <input type="text" class="form-control" name="treatmentplan" id="field_treatmentplan"
                [(ngModel)]="resultrecemption.treatmentplan" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_resultcalendarreception">Resultcalendarreception</label>
            <select class="form-control" id="field_resultcalendarreception" name="resultcalendarreception" [(ngModel)]="resultrecemption.resultcalendarreception">
                <option [ngValue]="null"></option>
                <option [ngValue]="calendarrecptionOption.id === resultrecemption.resultcalendarreception?.id ? resultrecemption.resultcalendarreception : calendarrecptionOption" *ngFor="let calendarrecptionOption of resultcalendarreceptions; trackBy: trackCalendarrecptionById">{{calendarrecptionOption.date}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" multiple name="user" [(ngModel)]="resultrecemption.users">
                <option [ngValue]="getSelected(resultrecemption.users, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
