
<div *ngIf="calendarrecption">
    <h2><span>Calendarrecption</span> {{calendarrecption.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{calendarrecption.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Adress</span></dt>
        <dd>
            <span>{{calendarrecption.adress}}</span>
        </dd>
        <dt><span>Calendarreceptionuser</span></dt>
        <dd>
            <span *ngFor="let calendarreceptionuser of calendarrecption.calendarreceptionusers; let last = last">
                {{calendarreceptionuser.login}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'calendarrecption/'+ calendarrecption.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
