<div>
    <h2>
        <span>Calendarrecptions</span>
        <button class="btn btn-primary float-right jh-create-entity create-calendarrecption" [routerLink]="['/', { outlets: { popup: ['calendarrecption-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Calendarrecption
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="calendarrecptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Adress</span></th>
            <th><span>Calendarreceptionuser</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calendarrecption of calendarrecptions ;trackBy: trackId">
                <td><a [routerLink]="['../calendarrecption', calendarrecption.id ]">{{calendarrecption.id}}</a></td>
                <td>{{calendarrecption.date | date:'mediumDate'}}</td>
                <td>{{calendarrecption.adress}}</td>
                <td>
                    <span *ngFor="let calendarreceptionuser of calendarrecption.calendarreceptionusers; let last = last">
                            {{calendarreceptionuser.login}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../calendarrecption', calendarrecption.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'calendarrecption/'+ calendarrecption.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'calendarrecption/'+ calendarrecption.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
