<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCalendarrecptionLabel">Create or edit a Calendarrecption</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!calendarrecption.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="calendarrecption.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="calendarrecption.date"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress"
                [(ngModel)]="calendarrecption.adress" required minlength="5"/>
            <div [hidden]="!(editForm.controls.adress?.dirty && editForm.controls.adress?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adress?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adress?.errors?.minlength">
                   This field is required to be at least 5 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_calendarreceptionuser">Calendarreceptionuser</label>
            <select class="form-control" id="field_calendarreceptionuser" multiple name="calendarreceptionuser" [(ngModel)]="calendarrecption.calendarreceptionusers">
                <option [ngValue]="getSelected(calendarrecption.calendarreceptionusers, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
